body {
	background-color: #E6E4E0;
}
h1 {
	font-family: 'Life Savers';
  	font-size: 80px;
	color: #1F1F5C
}
image {
	width: 6px;
	height: 4px;
}
footer {
	text-align: center;
}
.nav_list{
	float: left;
	list-style-type: none;
	z-index: 1;
	display: inline-block;
}

.nav_item{
	color: #E6E4E0;
	display: inline-block;
	width: 230px;
	height: 80px;
	text-align: center;
	font-size: 20px;
	border-radius: 1px;
	font-family: Palatino;
	margin-top: 15px;
}

.background_bar{
	background-color: #1F1F5C;
	float: left;
	height: 80px;
	margin-top: 150px;
	left: 0px;
}

.nameheader{
	float: left;
	margin-top: 210px;
	margin-left: 130px;
}

ul li a{
  	color: #E6E4E0;
}

ul li a:hover{
  	color: #DDDF5D;
}

p {
	font-family: Palatino;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #932573;
}
