body {
	background-color: #E6E4E0;
}

h1 {
	font-family: 'Fredericka the Great';
  	font-size: 80px;
	color: #1F1F5C
}

.nav_list{
	float: left;
	list-style-type: none;
	z-index: 1;
	display: inline-block;
}

.nav_item{
	color: #E6E4E0;
	display: inline-block;
	width: 230px;
	height: 80px;
	text-align: center;
	font-size: 20px;
	border-radius: 1px;
	font-family: 'Lora';
	margin-top: 15px;
}

.background_bar{
	background-color: #1F1F5C;
	float: right;
	height: 80px;
	margin-top: -53px;
	left: 0px;
}

.nameheader{
	float: left;
	margin-top: 50px;
	margin-left: 0px;
}

ul li a{
  	color: #E6E4E0;
}

ul li a:hover{
  	color: #DDDF5D;
}

p {
	font-family: Georgia;
}

a{
	text-decoration: none;
	color: black;
	}
	
a:hover {
	text-decoration: none;
	color: #932573;
}

header {
	text-align: right;
  	float: right;
  	position: absolute;
  	right: 20px;
  	top: 10px;
}

h2 {
	color: #932573;
	font: 'Lora';
	font-weight: 700;
}

h3 {
	font-family: 'Lora';
	font-weight: 400;
}

.text {
	width: 550px;
	height: 600px;
	display: block;
	float: right;
	margin-top: 40px; 
	margin-right: 150px; 
}

.thumbnail {
	width: 200px;
	height: 850px;
	display: block;
	float: left;
	margin-top: 0px;
	margin-left: 250px; 
}

img {
    height: auto;
    width: 150px;
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px; 
    padding-left: 15px;
}

.title {
	font-family: Georgia;
	font-size: 20px;
	text-align: left;
	margin-top: 20px; 
}

.description {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 15px;
	text-align: left;
	margin-left: 30px; 
	margin-top: -10px; 
	margin-bottom: 110px; 
}
